<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zhy.java.springboot.dao.IOrdInfoDao">
	<!-- get entity by pk -->
	<select id="get" parameterType="long" resultType="OrdInfo">
		select
        				order_id,
        				parent_order_id,
        				payment_id,
        				order_code,
        				member_id,
        				goods_total_money,
        				logistics_money,
        				preferential_money,
        				total_money,
        				order_state,
        				pay_state,
        				logistics_state,
        				confirm_state,
        				pay_way,
        				logistics_way,
						date_format(order_time,'%Y-%m-%d %H:%i:%s') as order_time_str,
        				order_time,
        				payment_code,
        				source,
        				remark,
						date_format(create_time,'%Y-%m-%d %H:%i:%s') as create_time_str,
        				create_time,
						date_format(update_time,'%Y-%m-%d %H:%i:%s') as update_time_str,
        				update_time,
        				operator_id,
        				lock_state,
        				lock_user_id,
						date_format(lock_time,'%Y-%m-%d %H:%i:%s') as lock_time_str,
        				lock_time,
        				record_id
        	from
        		ord_info
        	where
        				order_id = #{order_id}
	</select>

	<!-- count num -->
	<select id="findCount" parameterType="map" resultType="long">
		select count(order_id) as count
		from ord_info
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
	</select>

	<!-- list -->
	<select id="search" parameterType="map" resultType="java.util.HashMap">
		select 
				order_id,
				parent_order_id,
				payment_id,
				order_code,
				member_id,
				goods_total_money,
				logistics_money,
				preferential_money,
				total_money,
				order_state,
				pay_state,
				logistics_state,
				confirm_state,
				pay_way,
				logistics_way,
				date_format(order_time,'%Y-%m-%d %H:%i:%s') as order_time_str,
				order_time,
				payment_code,
				source,
				remark,
				date_format(create_time,'%Y-%m-%d %H:%i:%s') as create_time_str,
				create_time,
				date_format(update_time,'%Y-%m-%d %H:%i:%s') as update_time_str,
				update_time,
				operator_id,
				lock_state,
				lock_user_id,
				date_format(lock_time,'%Y-%m-%d %H:%i:%s') as lock_time_str,
				lock_time,
				record_id
		from ord_info
		<where>
			<if test="paramname != null">
				<!-- and columnName = #{columnName} -->
			</if>
		</where>
		<if test="sort != null and sort != ''">
			ORDER BY ${sort}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset} , ${pagesize}
		</if>
	</select>

	<!-- save -->
	<insert id="save" parameterType="OrdInfo" useGeneratedKeys="true" keyProperty="order_id">
		INSERT INTO ord_info
		(
				order_id,

				parent_order_id,

				payment_id,

				order_code,

				member_id,

				goods_total_money,

				logistics_money,

				preferential_money,

				total_money,

				order_state,

				pay_state,

				logistics_state,

				confirm_state,

				pay_way,

				logistics_way,

				order_time,

				payment_code,

				source,

				remark,

				create_time,

				update_time,

				operator_id,

				lock_state,

				lock_user_id,

				lock_time,

				record_id
		)
		VALUES
		(
				#{order_id},
				#{parent_order_id},
				#{payment_id},
				#{order_code},
				#{member_id},
				#{goods_total_money},
				#{logistics_money},
				#{preferential_money},
				#{total_money},
				#{order_state},
				#{pay_state},
				#{logistics_state},
				#{confirm_state},
				#{pay_way},
				#{logistics_way},
				#{order_time},
				#{payment_code},
				#{source},
				#{remark},
				#{create_time},
				#{update_time},
				#{operator_id},
				#{lock_state},
				#{lock_user_id},
				#{lock_time},
				#{record_id}
		);
	</insert>

	<!-- update -->
	<update id="update" parameterType="OrdInfo">
		update ord_info
		<set>
					<if test="order_id != null">
						 order_id = #{order_id},
					</if>
					<if test="parent_order_id != null">
						 parent_order_id = #{parent_order_id},
					</if>
					<if test="payment_id != null">
						 payment_id = #{payment_id},
					</if>
					<if test="order_code != null">
						 order_code = #{order_code},
					</if>
					<if test="member_id != null">
						 member_id = #{member_id},
					</if>
					<if test="goods_total_money != null">
						 goods_total_money = #{goods_total_money},
					</if>
					<if test="logistics_money != null">
						 logistics_money = #{logistics_money},
					</if>
					<if test="preferential_money != null">
						 preferential_money = #{preferential_money},
					</if>
					<if test="total_money != null">
						 total_money = #{total_money},
					</if>
					<if test="order_state != null">
						 order_state = #{order_state},
					</if>
					<if test="pay_state != null">
						 pay_state = #{pay_state},
					</if>
					<if test="logistics_state != null">
						 logistics_state = #{logistics_state},
					</if>
					<if test="confirm_state != null">
						 confirm_state = #{confirm_state},
					</if>
					<if test="pay_way != null">
						 pay_way = #{pay_way},
					</if>
					<if test="logistics_way != null">
						 logistics_way = #{logistics_way},
					</if>
					<if test="order_time != null">
						 order_time = #{order_time},
					</if>
					<if test="payment_code != null">
						 payment_code = #{payment_code},
					</if>
					<if test="source != null">
						 source = #{source},
					</if>
					<if test="remark != null">
						 remark = #{remark},
					</if>
					<if test="create_time != null">
						 create_time = #{create_time},
					</if>
					<if test="update_time != null">
						 update_time = #{update_time},
					</if>
					<if test="operator_id != null">
						 operator_id = #{operator_id},
					</if>
					<if test="lock_state != null">
						 lock_state = #{lock_state},
					</if>
					<if test="lock_user_id != null">
						 lock_user_id = #{lock_user_id},
					</if>
					<if test="lock_time != null">
						 lock_time = #{lock_time},
					</if>
					<if test="record_id != null">
						 record_id = #{record_id},
					</if>
	   </set>
		 where 
    				order_id = #{order_id}
	</update>
	<select id="getListByEntity" parameterType="OrdInfo" resultType="OrdInfo">
		select 
				order_id,
				parent_order_id,
				payment_id,
				order_code,
				member_id,
				goods_total_money,
				logistics_money,
				preferential_money,
				total_money,
				order_state,
				pay_state,
				logistics_state,
				confirm_state,
				pay_way,
				logistics_way,
				date_format(order_time,'%Y-%m-%d %H:%i:%s') as order_time_str,
				order_time,
				payment_code,
				source,
				remark,
				date_format(create_time,'%Y-%m-%d %H:%i:%s') as create_time_str,
				create_time,
				date_format(update_time,'%Y-%m-%d %H:%i:%s') as update_time_str,
				update_time,
				operator_id,
				lock_state,
				lock_user_id,
				date_format(lock_time,'%Y-%m-%d %H:%i:%s') as lock_time_str,
				lock_time,
				record_id
		from
		ord_info
		<where>
					<if test="order_id != null">
						and order_id = #{order_id}
					</if>
					<if test="parent_order_id != null">
						and parent_order_id = #{parent_order_id}
					</if>
					<if test="payment_id != null">
						and payment_id = #{payment_id}
					</if>
					<if test="order_code != null">
						and order_code = #{order_code}
					</if>
					<if test="member_id != null">
						and member_id = #{member_id}
					</if>
					<if test="goods_total_money != null">
						and goods_total_money = #{goods_total_money}
					</if>
					<if test="logistics_money != null">
						and logistics_money = #{logistics_money}
					</if>
					<if test="preferential_money != null">
						and preferential_money = #{preferential_money}
					</if>
					<if test="total_money != null">
						and total_money = #{total_money}
					</if>
					<if test="order_state != null">
						and order_state = #{order_state}
					</if>
					<if test="pay_state != null">
						and pay_state = #{pay_state}
					</if>
					<if test="logistics_state != null">
						and logistics_state = #{logistics_state}
					</if>
					<if test="confirm_state != null">
						and confirm_state = #{confirm_state}
					</if>
					<if test="pay_way != null">
						and pay_way = #{pay_way}
					</if>
					<if test="logistics_way != null">
						and logistics_way = #{logistics_way}
					</if>
					<if test="order_time != null">
						and order_time = #{order_time}
					</if>
					<if test="payment_code != null">
						and payment_code = #{payment_code}
					</if>
					<if test="source != null">
						and source = #{source}
					</if>
					<if test="remark != null">
						and remark = #{remark}
					</if>
					<if test="create_time != null">
						and create_time = #{create_time}
					</if>
					<if test="update_time != null">
						and update_time = #{update_time}
					</if>
					<if test="operator_id != null">
						and operator_id = #{operator_id}
					</if>
					<if test="lock_state != null">
						and lock_state = #{lock_state}
					</if>
					<if test="lock_user_id != null">
						and lock_user_id = #{lock_user_id}
					</if>
					<if test="lock_time != null">
						and lock_time = #{lock_time}
					</if>
					<if test="record_id != null">
						and record_id = #{record_id}
					</if>
				 	<if test="isExcludePKFlag != null and isExcludePKFlag == true">
		        				and order_id != #{order_id}
					</if>
		</where>
	</select>
</mapper> 
